.dropdown{

  &-bar{
    @include background-image(linear-gradient(left top, $secondary-color, $primary-color));
    background-color: #3baa33;
    padding: 20px 30px;

    &-rounded--top{
      border-radius: 5px 5px 0px 0px;
    }
  }

  &-title{
    font-size: $font-size-xlarge;
    font-family: $primary-font-family;

    @include breakpoint("small-below"){
      font-size: $font-size-large;
    }

    .icon-file {
      color: $brand-color;
      font-size: $font-size-large;
      margin-right: 10px;

      @include breakpoint("small-below"){
        font-size: $font-size-base;
        margin-right: 5px;
      }
    }

    .icon-caret-up, .icon-caret-down{
      float: right;
    }
  }

}
